.container {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    font-size: 24px;
}

body {
  background-image: url('bck.jpg');
}

.custom-file-upload {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
}

.custom-file-upload input[type="file"] {
    display: none;
}

.image-preview {
    margin-top: 20px;
    display: none;
}

.preview-image {
    max-width: 100%;
    border-radius: 5px;
}
